fastapi==0.115.14
alembic==1.13.1
celery==5.4.0
django-celery-beat>=2.5.0
python-dotenv==1.0.1
SQLAlchemy==2.0.27
pydantic-settings==2.9.1
redis==6.1.0
psycopg2-binary==2.9.10
uvicorn==0.27.1
email_validator==2.1.1
PyJWT==2.10.1
itsdangerous==2.2.0
passlib==1.7.4
cloudinary
python-multipart
email-validator
jinja2
phonenumbers
email_validator 
tzlocal
pandas
openpyxl
requests
python-jose[cryptography]